extends layout

block content
  p.lead
    | Rotate your phone
  #debug

block scripts
  script.
    (function(){
      var socket = io.connect(window.location.href);
      
      window.addEventListener('deviceorientation', function(event) {
        var rotation = Math.floor(event.alpha);
        rotation = rotation - 270;
        rotation = -rotation;
        $('#debug').text(rotation+'deg');
        socket.emit('rotation', rotation);
      }, false);
      
    }());
